*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.primary-bg-color{
    background-color: whitesmoke;
}
.secondary-bg-color{
    background-color: rgb(23, 23, 23);
}
.page-bg{
    background-color: rgb(61, 61, 61);
    background-image: url("/assets/img/src-key-logo-bg.svg");
    background-size: 50px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.page-header{
    position: relative;
    margin: 0;
    width: 100%;
    height: 70px;
    /* border: 1px solid red; */
    padding: 10px 5% 10px 5%;
}
.page-header-item{
    display: block;
    height: 100%;
    /* border: 1px solid red; */
}
.header-logo{
    float: left;
    width: 33%;
}
.header-logo a{
    text-decoration: none;
}
.header-logo img{
    height: 100%;
}
.header-logo img:hover{
    transform: scale(0.90,0.90);
}
.header-logo h1{
    color: whitesmoke;
    display: inline;
    font-family: 'Almendra', serif;
    font-size: 2em;
    margin-left: 20px;
    /* border: 1px solid red; */
}
.searchbar-container{
    float: left;
    width: 33%;
    padding: 5px 20px;
}
.searchbar input[type="text"]{
    background-color: rgb(61, 61, 61);
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    display: inline-block;
    width: 80%;
    height: 30px;
    margin: 0;
    padding: 5px;
}
.searchbar input[type="submit"]{
    background-color: rgb(61, 61, 61);
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-size: medium;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 5px;
}
.session-container{
    float: right;
    position: relative;
    width: 33%;
    height: 100%;
}
.session-box{
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
    float: right;
    width: 120px;
    height: 100%;
    padding: 5px;
}
.session-box p{
    display: inline;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}
.session-icon{
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    height: 100%;
}
.session-icon img{
    height: 100%;
}
.session-submenu{
    display: none;
    background-color: rgb(61, 61, 61);
    float: right;
    font-family: 'Roboto', sans-serif;
    width: 120px;
    padding: 5px;
}
.session-submenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.session-submenu ul li{
    padding: 5px;
}
.session-submenu ul li:hover{
    background-color: rgb(83, 83, 83);
}
.session-submenu ul li a{
    color: whitesmoke;
    text-decoration: none;
}
.session-container:hover .session-submenu{
    display: block;
}
.navbar-container{
    background-color: tomato;
    height: 30px;
    padding: 5px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-item{
    display: block;
    width: 10%;
    float: left;
    text-align: center;
    border-right: 2px solid whitesmoke;
}
.navbar-item a{
    display: block;
    width: 100%;
    color: whitesmoke;
    text-decoration: none;
}
.navbar-item a:hover{
    color: rgb(61, 61, 61);
    font-weight: bold;
}
.page-container{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.page-content{
    margin: 0;
    width: 90%;
    min-height: 100%;
    position: absolute;
    left: 5%;
}
.featured-content{

}
.recent-content{

}
.page-footer{
    width: 100%;
    height: 60px;
}
.footer-navbar-container{
    margin: 0;
    height: 40px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.footer-navbar-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-navbar-container li{
    display: inline-block;
    padding: 0 10px;
}
.footer-navbar-container a{
    color: rgb(83, 83, 83);
    text-decoration: none;
}
.footer-navbar-container a:hover{
    color: tomato;
    font-weight: bold;
}