/* Colors
rgb(61, 61, 61);
rgb(83, 83, 83);
rgb(23, 23, 23);
tomato
*/
body{
    background-color: rgb(61, 61, 61);
}
.bg-dark-main{
    background-color: rgb(23, 23, 23);
}
.nav-link{
    color: tomato;
}